<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Teacher</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Teacher</h3>
			<hr/>
			
			<form th:action="@{/saveTeacher}" th:object="${teacher}" method="POST">
				
				<input type="text" th:field="*{id}" class="form-control col-4 mb-4" placeholder="Id" />
				
				<input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Enter Name" />
				
				<input type="text" th:field="*{gender}" class="form-control col-4 mb-4" placeholder="Enter Gender" />
				
				<input type="checkbox" th:checked="${teacher.isActive()} "/> Teacher active
				
				<input type="text" th:field="*{courses}" class="form-control col-4 mb-4" placeholder="Enter courses" />
				
				<input type="text" th:field="*{additionalSkills}" class="form-control col-4 mb-4" placeholder="Enter additionalSkills" />
				
				<button type="submit" class="btn btn-primary col-2">Save</button>
				<input type="hidden" th:field="*{id}" />
			</form>
			<hr/>
			<a th:href="@{/listTeachersBootStrap}">Back to list</a>
		</div>
		
	</body>
</html>